file-libraries/xml/src/main/resources/demo.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- TODO. 定义XML文件格式和内容 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="xmlPerson">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstname" minOccurs="1" maxOccurs="unbounded" type="xs:string" />
                <xs:element name="lastname" minOccurs="1" maxOccurs="unbounded" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>